/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 300px;
  gap: 30px;
  text-align: center;
}

button {
  width: 20%;
  align-self: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  font-weight: bold;
  font-size: 4rem;
}

/* MEDIA QUERIES */
